:root {
    --Green: #006633;
    --lightGreen: #3aaa35;
    --blue: #3300FF;
    --lightBlue: #4688d1;
    --Yellow: #ffed00;
    --Pink: #FF0DA6;
    --White:#fff;
    --Black: #000;


}

body {
    background-color: var(--Pink);
    background-image: background-image: linear-gradient(red, var(var(--Pink)));;
    padding: 0;
    margin: 0;
}

/*Generalt*/

/*Introsiden, index.html*/

/*Title, h1 index.html*/
.greenText { 
    margin-bottom: 0;  
    color: var(--lightGreen);
    text-shadow: 2px 2px var(--Green);
    text-align: center;
    font-size: xx-large;
} 

/*Large logo SVG fils at the index.html*/
#frontScreenImg, #frontScreenBlink {
    margin-top: -25px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#frontScreenBlink {
    display: none;
}

/*Large logo SVG fils at the index.html, changes to #frontScreenBlink when hover*/
#frontScreenImg:hover {
    display: none;
}

#frontScreenImg:hover + #frontScreenBlink{
    display: block;
}

/*Green button "kom indenfor" index.html*/
#frontScreenButton {
    color:var(--Green);
    background-color: var(--lightGreen);
    box-shadow: 3px 4px #006633;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 55px;
    font-size: 20¢px;
    border-radius: 10px;
    border-style: solid 2px var(--Green);
}

#frontScreenButton:hover {
    box-shadow: 6px 8px #006633;
}

/*Startsiden, main.html*/



/*Different screensize*/
  /*COMPUTERVERSION*/
  @media screen and (min-width: 650px) {
    #frontScreenImg, , #frontScreenBlink {
        margin-top: -40px;
    }
  }

    /*LARGESCREENS*/
    @media screen and (min-width: 1100px) {
        #frontScreenImg, , #frontScreenBlink {
            margin-top: -100px;
        }
      }

