/*Generalt*/
:root {
    --Green: #b2e4bc;
    --lightGreen: #d7eadb;
    --darkgreen: #505644;
    --Pink: #db2893;
    --lightPink: #f4ecec;
    --White:#fff;
    --Black: #000;
}

body {
    background-color: var(--lightGreen);
    padding: 0;
    margin: 0;
    color: var(--Pink);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    padding-top: 100px;
}
/*Burgermunu, mobilversion*/

#nav-computer {
    display: none;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-image: linear-gradient(var(--Green), var(--lightGreen));
    font-size: 25px;
    height: 100px;
}

header h1 {
    font-family: 'Dancing Script', cursive;
    position: fixed;
    top: -10px;
    left: 20px;
}

h2, h3{
    text-align:  center;
    font-size: 22px;
    text-transform: uppercase;
}



header img {
    position: fixed;
    padding-top: 50px;
    right: 25px;
    top: -25px;
}

.ikon a {
    color: var(--Pink);
}

.job{
    text-align: center;
    margin: 12%;
}

.job p{
    font-size: 15px;
    line-height: 20px;
    text-align: left;
}

.job ul li {
    list-style: none;
    line-height: 20px;
    font-size: 15px;
    margin-left: -15%;
    text-align: left;
}





/*navigationsbar, dicktop*/


/*indhold-sidderne*/

/*index/forside*/

/**/

/*footer*/

hr {
    width: 80%;
    border-top:1px solid var(--Pink);
    margin-top: 50px;
    margin-bottom: 50px;
}


.mainfooter{
    margin-bottom: 200px;
    text-align: center;
}

.mainfooter h4 {
    font-size: 15px;
    text-transform: uppercase;
}


.mainfooter button{
    background-color: var(--Pink);
    border: none;
    padding: 5px 20px 10px 20px;
    color: var(--lightPink);
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;

}

.mainfooter button img{
    width: 12%;
    margin-bottom: -5px;
    margin-left: 10px;
}

.mobilfooter {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: linear-gradient(var(--lightGreen), var(--Green));
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: 400px;

}

.mobilfooter img {
    width: 35px;
    margin-left: auto;
    margin-right: auto;
}

.mainfooter ul li {
    list-style: none;
    line-height: 20px;
    font-size: 15px;
    margin-left: -15%;    
}


/*Startsiden, main.html*/



/*Different screensize*/
  /*COMPUTERVERSION*/
  @media screen and (min-width: 650px) {

    .ikon a:hover {
        color: var(--lightGreen);
        background-color: var(--Pink);
    
    }

  }

    /*LARGESCREENS*/
    @media screen and (min-width: 1100px) {


    /*Til styling af navigationsbar og baggrundsbillede er der brugt hjælp fra en video på youtube https://www.youtube.com/watch?v=oYRda7UtuhA*/
    /*----styling af navigationsbar----*/
    #nav-mobil {
        display: none;
    }

    #nav-computer {
        display: flex;
        padding: 1% 3%;
        justify-content:space-between ;
        align-items: center ;
    }

    .nav-links {
        flex: 1;
        text-align:center; 
    }   

    .nav-links ul li{
        display: inline-block;
        padding: 5px 7px ;
        position: center;
    }

    .nav-links ul li a{
        color:var(--Pink);
        text-decoration: none;
        font-size: 17px;
        text-transform: uppercase;
    }

    .nav-links ul li::after{
        content:'';
        width: 0%;
        height: 2px;
        background: var(--Pink);
        display: block;
        margin: auto;
        transition: o,1s;
    }
    
    .nav-links ul li:hover::after{
        width: 100%;
    }

      }

