/*Generalt*/
:root {
    --Green: #b2e4bc;
    --lightGreen: #d7eadb;
    --darkgreen: #505644;
    --Pink: #db2893;
    --lightPink: #f4ecec;
    --White:#fff;
    --Black: #000;
}

body {
    background-color: var(--lightGreen);
    padding: 0;
    margin: 0;
    color: var(--Pink);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Så fyldet starter under headeren*/

main {
    padding-top: 100px; 
}

/*Overskrifter*/

h2, h3{
    text-align:  center;
    font-size: 22px;
    text-transform: uppercase;
}

/*Streger brugt gennem sidderne for at skabe en visuel opdeling*/
hr {
    width: 80%;
    border-top:1px solid var(--Pink);
    margin-top: 50px;
    margin-bottom: 50px;
}

/*Burgermunu, mobilversion*/

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-image: linear-gradient(var(--Green), var(--lightGreen));
    font-size: 25px;
    height: 100px; 
    z-index: 1;
}

/*Logo øverst, Café Le Jardin*/

header h1 {
    font-family: 'Dancing Script', cursive;
    position: fixed;
    top: -10px;
    left: 20px;
}
/*Lagkage/burgerbar*/

header img {
    position: fixed;
    padding-top: 50px;
    right: 25px;
    top: -25px;
}

/*Luk kryds i mobilnavigation*/

#luk {
    display: none;
}

/*Streger mellem tekst i mobilnavigationen*/

header #navigation ul hr {
    margin: 35px 10px;
    width: 90%;
}

/*Burgernavigation*/

#navigation {
    z-index: 2;
    display: none;
    background-color: var(--Pink);
    padding: 10px;
}

#navigation ul {
    flex: 1;
    text-align:center; 
    z-index: 3;
}   

#navigation ul li{
    display: block;
    padding: 7px 0px ;
    position: center;
}

#navigation ul li a{
    color:var(--lightGreen);
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}

/*Blomster deco i mobilnavigationen*/
#blomster-hvid {
    transform: rotate(-90deg);
    display: block;
    position: absolute;
    right: -170px;
    top: 410px;
    z-index: 2;
}

#blomster-pink {
    display: block;
    position: absolute;
    left: -170px;
    top: -170px;
    z-index: 2;
}

/*Til logo i mobil navigationen*/
h5 {
    font-family: 'Dancing Script', cursive;
    position: fixed;
    color: var(--lightPink);
    bottom: -15px;
    left: 25px;
    z-index: 2;
}

/*footer*/
.mainfooter{
    margin-bottom: 200px;
    text-align: center;
}

.mainfooter h4 {
    font-size: 15px;
    text-transform: uppercase;
}

.mainfooter button{
    background-color: var(--Pink);
    border: none;
    padding: 5px 20px 10px 20px;
    color: var(--lightPink);
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

.mainfooter button img{
    width: 12%;
    margin-bottom: -5px;
    margin-left: 10px;
}

.mainfooter ul {
    padding-left: 0px;
}

.mainfooter ul li {
    list-style: none;
    line-height: 20px;
    font-size: 15px; 

}

/*Mobilfooter*/
.mobilfooter {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: linear-gradient(var(--lightGreen), var(--Green));
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: 400px;
    z-index: 0;
}

.mobilfooter a {
    width: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    z-index: 0;
}

/*Pop-up på mobil footer*/
#mobil-info, #lokation {
    display: none;
}

span {
    background-color: var(--Pink);
    color: var(--lightPink);
    text-decoration: none;
    position: fixed;
    display: block;
    width: 100%;
    bottom: 100px;
    height: 50px;
    text-align: center;
}

#lokation {
    padding: 15px;
}

span a {
    text-decoration: none;
    color: var(--lightPink);
}


/*indhold-sidderne*/

/*Kontakt*/
.ikon {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.ikon a {
    color: var(--Pink);
}

main .ikon figure {
    display: inline-block;
    width: 100px;
}

.job{
    text-align: center;
    margin: 12%;
}

.job p{
    font-size: 15px;
    line-height: 20px;
    text-align: left;
}

.job ul li {
    list-style: none;
    line-height: 20px;
    font-size: 15px;
    margin-left: -15%;
    text-align: left;
}


/*kagesiden 
styling kode starter https://www.w3schools.com/howto/howto_js_slideshow.asp  4.juni.2022 */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*  <!-- styling kode slutter https://www.w3schools.com/howto/howto_js_slideshow.asp  4.juni.2022 -->*/


/*Bestilllingssiden*/
/*Wrapper bestillingen*/
fieldset {
    border: solid 2px var(--Pink);
    border-radius: 10px;
    margin: 20px 10%;
    padding: 20px;
    display: block;
    flex-direction: column;
}

/*Knappen på siderne*/
main section form button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: var(--Pink);
  color: var(--lightPink);
}

/*Styling til indholdet i bestillings formularen*/
input, select, textarea {
  border: solid 1px var(--Pink);
  background-color: var(--lightPink);
}

/*styling af p på gennemførtsiden*/
.gennemfortP {
    margin-top: 25px;
    text-align: center;
    font-size: 16px;
}

/*labelelementerne*/
label {
  display: block;
}


#bestilkage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form fieldset {
  width: 15%;
  display: inline-block;
}

#bestillingsbillede {
  width: 255px;
  display: inline-block;
  border-bottom: 200px;
}


/*forskellige skrærmstørrelser*/

  /*COMPUTERVERSION*/
  @media screen and (min-width: 710px) {

    main {
        padding-top: 5px;
    }

    .ikon a:hover {
        color: var(--lightGreen);
        background-color: var(--Pink);
    }

    header {
        position: sticky;
        top: -110px;
        left: 0px;
        right: 0px;
        background-image: linear-gradient(var(--Green), var(--lightGreen));
        font-size: 25px;
        height: 163px;
        padding-top: 5px;
    }
    
    header h1 {
        font-family: 'Dancing Script', cursive;
        display: block;
        position: relative;
        text-align: center;
    }

  #lagkageNav, header #navigation ul hr, h5, #blomster-hvid,  #blomster-pink, .mobilfooter {
        display: none;
    }

    #navigation {
        background-color: #b2e4bc00;
        display: flex;
        margin-top: -50px;
        padding: 1% 3%;
        justify-content:space-between ;
        align-items: center ;
    }

    #navigation ul li{
        display: inline-block;

    }

    #navigation ul li a {
        color: var(--pink);
        position: relative;
    }

    #navigation ul li .explore::after{
        content:'';
        width: 0%;
        height: 2px;
        background: var(--Pink);
        display: block;
        margin: auto;
        transition: o,1s;
    }
    
    #navigation ul li .explore:hover::after{
        width: 100%;
    }
    
    #navigation ul li .aktuelleside::after {
        content:'';
        width: 100%;
        height: 2px;
        background: var(--Pink);
        display: block;
        margin: auto;
    }

    .mainfooter {
        background-image: linear-gradient(var(--lightGreen), var(--Green));
        padding-bottom: 25px;
        margin-bottom: 0px;
    }
  }



